.card {
	padding: 1rem;

	width: 20rem;

	border: 2px solid grey;
	border-radius: 8px;

	background: rgba(123, 117, 117, 0.1);

	list-style: none;
}

img {
	width: 100%;
	border-radius: 8px;
}

.content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.name {
	margin: 0.4rem 0;
}

a {
	color: rgba(144, 238, 144, 0.6);
}
